<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/assets/logoo.svg.png" alt="logo" class="logo">
        <nav>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-area">
                <li><a href="#">Home</a></li>
                <li><a href="#">Phones</a></li>
                <li><a href="#">Headphones</a></li>
            </ul>
        </nav>
        <div id="authentication">
            <a href="#" class="btn-area">Login</a>
            <a href="#" class="btn-area">Register</a>
        </div>
    </header>
    <div id="center-text">
        <h1>reView</h1>
        <p>Review your favourite tech all in one place</p>
    </div>

    <script src="/js/hamburger.js"></script>
</body>
</html>