* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/background3.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
}



h1, p {
    text-align: center;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000 0%, #FF5F15 58%);
    background: -moz-linear-gradient(to right, #000000 0%, #FF5F15 58%);
    background: linear-gradient(to right, #000000 0%, #FF5F15 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 6vh;
}

p {
    font-size: 3vh;
}

#center-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

