* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/background3.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    border-bottom: 2px solid black;
}

.logo {
    cursor: pointer;
    width: auto;
    height: 50px;
    border-right: 2px solid black;
    padding-right: 3em;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: #000000;
    font-size: 2vh;
}

.nav-area li a:hover {
    color: #FF5F15;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #FF5F15;
}

.btn-area:hover {
    background: #FF7518;
}


#authentication {
    border-left: 2px solid black;
    padding: 1em 0;
    padding-left: 3em;
}

h1, p {
    text-align: center;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000 0%, #FF5F15 58%);
    background: -moz-linear-gradient(to right, #000000 0%, #FF5F15 58%);
    background: linear-gradient(to right, #000000 0%, #FF5F15 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 6vh;
}

p {
    font-size: 3vh;
}

#center-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 950px) {
    .line {
        width: 30px;
        height: 3px;
        background: #FF7518;
        margin: 5px;
    }

    header {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 35%;
        border-left: 2px solid black;
        padding-left: 1em;
    }

    #authentication {
        position: relative;
        left: -3em;
        border: none;
    }

    .nav-area {
        display: none;
        flex-direction: column;
        position: fixed;
        justify-content: space-evenly;
        background: #FF7518;
        height: 35vh;
        width: 30%;
        right: 0;
        top: 11%;
    }

    .nav-area.show {
        display: flex;
    }

    .nav-area li {
        text-align: center;
    }

    .nav-area li a {
        transition: .3s;
        color: #000000;
        font-size: 2vh;
    }

    .nav-area li a:hover {
        color: #696969;
    }
}